<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- WebKit Smart App Banners -->
    {% if page.apple-itunes-app.app-id %}
    <meta name="apple-itunes-app" content="app-id={{ page.apple-itunes-app.app-id }}">
    {% elsif site.apple-itunes-app.app-id %}
    <meta name="apple-itunes-app" content="app-id={{ site.apple-itunes-app.app-id }}">
    {% endif %}

    <!-- Icons -->
    {% if site.favicon %}
      <link rel="shortcut icon" href="{{ site.favicon }}">
    {% else %}
      <link href="{{ '/assets/aether/media/192x192.png' | relative_url }}" rel="icon" sizes="192x192" />
      <link href="{{ '/assets/aether/media/180x180.png' | relative_url }}" rel="apple-touch-icon" sizes="180x180" />
      <link href="{{ '/assets/aether/media/128x128.svg' | relative_url }}" rel="icon" sizes="128x128" />
      <link href="{{ '/assets/aether/media/64x64.svg' | relative_url }}" rel="icon" sizes="64x64" />
      <link href="{{ '/assets/aether/media/32x32.svg' | relative_url }}" rel="icon" sizes="32x32" />
      <link href="{{ '/assets/aether/media/24x24.svg' | relative_url }}" rel="icon" sizes="24x24" />
      <link href="{{ '/assets/aether/media/16x16.svg' | relative_url }}" rel="icon" sizes="16x16" />
    {% endif %}

    {% assign version = "6-jekyll" %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.kde.org/aether-devel/bootstrap.css?{{ version }}">
    <link rel="stylesheet" href="https://cdn.kde.org/aether-devel/aether-kde-org.css?{{ version }}">

    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}?{{ site.time | date: '%s%N' }}">

    <!-- Standard JS Files, bootstrap Async -->
    <script src="https://cdn.kde.org/aether-devel/bootstrap.js?{{ version }}" defer=""></script>
    {% seo %}
</head>

