<!DOCTYPE html>

{% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html lang="en">
{% endif %}

    {% include head.html %}

    <body data-spy="scroll" data-target="#kHeaderCarousel" data-offset="50">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    </body>
</html>
